<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>List Example</title>
  <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
</head>
<body>
  <div class="container">
    <h1>Index Page</h1>
    <% include admin.ejs %>
  </div>
</body>
</html>
