.containerStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.calendarStyles {
  color: #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-bottom: 2rem;
  border-right: none;
}

.buttonContainerStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2rem;
}

.buttonStyles {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.buttonStyles[disabled] {
  background-color: #999999;
  color: white;
}

.weatherAreaStyles {
  margin: 2rem;
}

body {
  background-color: #f3f8fc;
}
