.containerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendarStyles {
  color: #00000;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-bottom: 2rem;
  border-right: none;
}

.buttonContainerStyles {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.buttonStyles {
  width: fit-content;
  padding: 0.5rem 1rem;
}

.buttonStyles[disabled] {
  background-color: #999999;
  color: white;
}

.weatherAreaStyles {
  margin: 2rem;
}
